@media screen and (max-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    height: 900px;
  }

  div {
    border: 2px goldenrod;
    display: flex;
    flex-direction: column;
  }

  .result-outer {
    background-image: linear-gradient(to top, #2e2be9, #7857ff);
    border-radius: 1rem;
    padding: rem;
    width: 30%;
    height: 35%;
    margin-top: 10rem;
    color: #87878e;
    font-family: Hanken Grotesk;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .result-title {
    margin-top: 1.5rem;
    color: #bdbde3;
    font-weight: bold;
  }

  .result-circle {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    background-image: linear-gradient(to top, #4744df, #4a25f0);
    height: 8rem;
    width: 8rem;
    align-items: center;
    justify-content: center;
    margin: 2rem 0 2rem 0;
    margin-bottom: 0;
    color: white;
  }
  .circle-text-large {
    height: min-content;
    margin-top: 0em;
    margin-bottom: 0;
  }
  .circle-text-small {
    color: #87878e;
    font-size: smaller;
    align-self: center;
  }

  .result-grade {
    color: white;
    max-height: fit-content;
    margin: 0.5rem;
  }

  .result-explain {
    color: #b5b5d0;
    font-size: x-small;
    width: 70%;
    text-align: center;
  }
}

@media screen and (min-width: 769px) {
}
