@media screen and (max-width: 768px) {
  header {
    height: 1px;
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 768px;
    height: 900px;
    justify-content: center;
  }

  div {
    border: 2px goldenrod;
    display: flex;
    flex-direction: column;
  }

  .back-card {
    display: flex;
    justify-content: space-around;
    height: 900px;
    width: 35%;
  }

  .summary-outer {
    display: flex;
    flex-direction: column;
    height: 70%;
    background-color: rgb(249, 245, 244);
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }

  .result-outer {
    background-image: linear-gradient(to top, #2e2be9, #7857ff);
    border-radius: 1rem;
    color: #87878e;
    font-family: Hanken Grotesk;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50%;
  }

  .result-title {
    margin-top: 1.5rem;
    color: #bdbde3;
    font-weight: bold;
  }

  .result-circle {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    background-image: linear-gradient(to top, #4744df, #4a25f0);
    height: 6rem;
    width: 6rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    margin-bottom: 0;
    color: white;
  }
  .circle-text-large {
    height: min-content;
    margin-top: 0em;
    margin-bottom: 0;
  }
  .circle-text-small {
    color: #87878e;
    font-size: smaller;
    align-self: center;
  }

  .result-grade {
    color: white;
    max-height: fit-content;
    margin: 0.5rem;
  }

  .result-explain {
    color: #b5b5d0;
    font-size: small;
    width: 45%;
    text-align: center;
  }

  .summary-title {
    padding: 1rem;
    padding-bottom: 1.25rem;
    font-family: Hanken Grotesh;
    font-weight: bold;
  }

  .summary-react {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.146);
    border-radius: 0.4rem;
  }

  .summary-memory {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.146);
    border-radius: 0.4rem;
  }

  .summary-verbal {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.146);
    border-radius: 0.4rem;
  }

  .summary-visual {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.146);
    border-radius: 0.4rem;
  }

  .summary-score {
    max-width: fit-content;
    margin-top: -1.1rem;
    padding-right: 2.5rem;
    align-self: end;
    color: black;
  }

  .summary-score + p {
    color: #b5b5d0;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: -1.15rem;
  }

  .continue {
    border-radius: 2rem;
    background-color: hsla(241, 32%, 34%, 0.982);
    color: white;
    align-self: center;
    margin-top: 1rem;
    width: 90%;
    padding: 0.75rem;
  }
  .continue:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: 769px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: auto;
  }

  div {
    border: 2px goldenrod;
    display: flex;
    flex-direction: column;
  }

  .back-card {
    display: flex;
    align-items: space-around;
    justify-content: space-around;
    height: 900px;
    width: 35%;
  }
  .summary-outer {
    display: flex;
    flex-direction: row;
    max-height: fit-content;
    background-color: rgb(249, 245, 244);
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  }

  .result-outer {
    background-image: linear-gradient(to top, #2e2be9, #7857ff);
    border-radius: 1rem;
    color: #87878e;
    font-family: Hanken Grotesk;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30rem;
  }

  .result-title {
    margin-top: 1.5rem;
    color: #bdbde3;
    font-weight: bold;
  }

  .result-circle {
    display: flex;
    flex-direction: column;
    border-radius: 100%;
    background-image: linear-gradient(to top, #4744df, #4a25f0);
    height: 6rem;
    width: 6rem;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 0 0;
    margin-bottom: 0;
    color: white;
  }
  .circle-text-large {
    height: min-content;
    margin-top: 0em;
    margin-bottom: 0;
  }
  .circle-text-small {
    color: #87878e;
    font-size: smaller;
    align-self: center;
  }

  .result-grade {
    color: white;
    max-height: fit-content;
    margin: 0.5rem;
  }

  .result-explain {
    color: #b5b5d0;
    font-size: small;
    width: 70%;
    text-align: center;
  }

  .summary-side {
    display: flex;
    flex-direction: column;
  }

  .summary-title {
    padding: 1rem;
    padding-bottom: 1.25rem;
    font-family: Hanken Grotesh;
    font-weight: bold;
    display: flex;
    flex-direction: row;
  }

  .summary-react {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: hsl(0, 100%, 67%);
    background-color: hsla(0, 100%, 67%, 0.146);
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
  }

  .summary-memory {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: hsl(39, 100%, 56%);
    background-color: hsla(39, 100%, 56%, 0.146);
    border-radius: 0.4rem;
  }

  .summary-verbal {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: hsl(166, 100%, 37%);
    background-color: hsla(166, 100%, 37%, 0.146);
    border-radius: 0.4rem;
  }

  .summary-visual {
    padding: 0.5rem;
    margin-right: 1rem;
    margin-left: 1rem;
    margin-top: 0.5rem;
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, 0.146);
    border-radius: 0.4rem;
    flex: 1;
  }
  .summary-score {
    max-width: fit-content;
    margin-top: -1.1rem;
    padding-right: 2.5rem;
    align-self: end;
    color: black;
  }

  .summary-score + p {
    color: #b5b5d0;
    display: flex;
    flex-direction: row;
    align-self: flex-end;
    margin-top: -1.15rem;
  }

  .continue {
    border-radius: 2rem;
    background-color: #fff607;
    color: black;
    align-self: center;
    margin-top: 1rem;
    margin: 1rem;
    width: 17rem;
    padding: 0.75rem;
    transition: background-color 1s ease-in;
  }

  .continue:hover {
    cursor: pointer;
    background-color: #f2af0a;
    transition-timing-function: 1s ease-out;
    animation: bounce 0.8s;
  }

  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-0.2rem);
    }
  }
}
